body {
    background-image: url("https://cutewallpaper.org/21/darth-vader-screensaver/Free-darth-vader-themes-screensaver.jpg");
    background-position-x: 60%;
    background-attachment: fixed;
}

h1,
h4 {
    font-family: Impact;
}