body {
    background-image: url("https://cutewallpaper.org/21/darth-vader-screensaver/Free-darth-vader-themes-screensaver.jpg");
    background-position: 500px;
    background-position-y: 100px;
}

#background {
    background-image: url("https://cutewallpaper.org/21/darth-vader-screensaver/Free-darth-vader-themes-screensaver.jpg");
}